.header{
    display: flex;
    padding: 5px;
    align-items: center;
    background-color: #221e12;
    top: 0;
    z-index: 100;
}
.header__logo {
    height: 50px;
    margin: 5px 20px;
}
.header__search{
    display: flex;
    flex: 3; 
}
.header__searchInput{
    width: 100%;
    font-size: 20px;
    height: 35px;
    margin-left: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    outline: none;
}
.header__searchIcon{
    color: #ffffff;
    background-color: rgb(238, 152, 23);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 37px !important;
    width: 37px !important;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}
.header__link{
    text-decoration: none;
}
.header__option{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.header__option:hover{
    border: 1px solid white;
    
}
.header__text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    cursor: default;
    margin: 0 10px;
}
.header__optionUp{
    font-size: 20px;
    font-weight: 600;
}
.header__optionDown{
    font-size: 17px;
    font-weight: 400;
}
